<input type="hidden" ng-model="codigo_cliente" name="codigo_cliente" ng-value="{{codigo_cliente}}">
<input type="hidden" ng-model="codigo_address" name="codigo_address" ng-value="{{codigo_address}}" ng-if="addressData.modal === undefined">
<input type="hidden" ng-model="addressData.codigo_address" name="codigo_address" ng-value="{{codigo_address}}" ng-if="addressData.modal !== undefined">

<label class="item item-input">
    <span class="input-label">Dirección</span>
    <div ng-messages="fAddress.address_1.$error" ng-messages-include="messages.html"></div>
    <input type="text" ng-model="address_1" name="address_1" required ng-minlength="3" ng-if="addressData.modal === undefined">
    <input type="text" ng-model="addressData.address_1" name="address_1" required ng-minlength="3" ng-if="addressData.modal !== undefined">
</label>

<label class="item item-input">
    <span class="input-label">Distrito</span>
    <div ng-messages="fAddress.address_2.$error" ng-messages-include="messages.html"></div>
    <input type="text" ng-model="address_2" name="address_2" required ng-minlength="3" ng-if="addressData.modal === undefined">
    <input type="text" ng-model="addressData.address_2" name="address_2" required ng-minlength="3" ng-if="addressData.modal !== undefined">

</label>

<label class="item item-input">
    <span class="input-label">Cantón</span>
    <div ng-messages="fAddress.city.$error" ng-messages-include="messages.html"></div>
    <input type="text" ng-model="city" name="city" required ng-minlength="3" ng-if="addressData.modal === undefined">
    <input type="text" ng-model="addressData.city" name="city" required ng-minlength="3" ng-if="addressData.modal !== undefined">

</label>

<div class="item item-input item-select">
    <div class="input-label">
        Provincia
    </div>
    <select ng-model="codigo_state" name="codigo_state" ng-if="addressData.modal === undefined">
        <option ng-repeat="state in stateslst" value="{{state.codigo_state}}" ng-selected="state.codigo_state == codigo_state">{{state.nombre}}</option>
    </select>
    <select ng-model="addressData.codigo_state" name="codigo_state" ng-if="addressData.modal !== undefined">
        <option ng-repeat="state in stateslst" value="{{state.codigo_state}}" ng-selected="state.codigo_state == addressData.codigo_state">{{state.nombre}}</option>
    </select>
</div>

<label class="item item-input">
    <span class="input-label">Código postal</span>
    <input type="text" ng-model="zipcode" name="zipcode" ng-if="addressData.modal === undefined">
    <input type="text" ng-model="addressData.zipcode" name="zipcode" ng-if="addressData.modal !== undefined">
</label>

<label class="item item-input">
    <span class="input-label">Teléfono</span>
    <div ng-messages="fAddress.phone.$error" ng-messages-include="messages.html"></div>
    <input type="tel" ng-model="phone" name="phone" required ng-if="addressData.modal === undefined">
    <input type="tel" ng-model="addressData.phone" name="phone" required ng-if="addressData.modal !== undefined">
</label>

<li class="item item-toggle">
    Principal
    <label class="toggle toggle-royal">
        <input type="checkbox" ng-model="principal" name="principal" ng-checked="principal==1" ng-if="addressData.modal === undefined">
        <input type="checkbox" ng-model="addressData.principal" name="principal" ng-checked="principal==1" ng-if="addressData.modal !== undefined">
        <div class="track">
            <div class="handle"></div>
        </div>
    </label>
</li>

<label class="item ">
    <button class="button button-block button-positive " type="submit " ng-disabled="fAddress.$invalid ">
        <span>Guardar</span>
    </button>
</label>
