<div class="list ">
    <ion-list>
        <ion-item ng-repeat="(descripcion, items) in items | groupBy: 'descripcion'" ng-init="parentIndex = items" class="item item-avatar item-icon-right" item="item">
            <img ng-src="{{$rutaImagenes}}{{image}}" ng-repeat="(image, items) in items | groupBy: 'image'">
            <h2>{{descripcion}}</h2>
            <span class="item-note">{{monedaSymbol}} {{parentIndex[0].precio_venta_total | number}}</span>
            <p ng-repeat="item in items">
                {{item.cantidad}} {{item.item_descripcion}}
            </p>
        </ion-item>
    </ion-list>
</div>
