<ion-view view-title="Mi carrito" ng-controller="BasketInfoCtrl">

    <ion-nav-buttons side="right">
        <a class="button button-clear button-light " href="#/app/home">
            <i class="icon ion-home"></i>
        </a>
        &nbsp;&nbsp;
        <button class="button button-clear button-light" ng-click="data.showDelete=!data.showDelete">
            <i class="icon ion-trash-b"></i>
        </button>
    </ion-nav-buttons>

    <!--- Pasos --->
    <ion-header-bar class="bar bar-subheader bar-assertive">
        <div class="button-bar">
            <a class="button icon-left ion-bag button-clear button-small"><small>Carrito</small></a>
            <a class="button icon-left ion-ios-box-outline button-clear button-small button-stable"><small>Direcci&oacute;n</small></a>
            <a class="button icon-left ion-card button-clear button-small button-stable"><small>Compra</small></a>
        </div>
    </ion-header-bar>

    <ion-content class="has-header">
        <form name="fBasket " action="#/app/shipping ">

            <div class="list ">

                <ion-list show-delete="data.showDelete ">
                    <ion-item ng-repeat="(descripcion, items) in items | groupBy: 'descripcion' " ng-init="parentIndex=items " class="item item-avatar item-icon-right " item="item ">
                        <img ng-src="{{$rutaImagenes}}{{image}} " ng-repeat="(image, items) in items | groupBy: 'image' ">
                        <h2>{{descripcion}}</h2>
                        <span class="item-note ">{{monedaSymbol}} {{parentIndex[0].precio_venta_total | number}}</span>
                        <p ng-repeat="item in items ">
                            {{item.cantidad}} {{item.item_descripcion}}
                        </p>
                        <ion-delete-button class="ion-minus-circled " ng-click="delBasketItem(parentIndex[0]) "></ion-delete-button>
                    </ion-item>
                </ion-list>

                <!-- Resumen de la orden -->
                <div class="item item-divider ">
                    Totales
                </div>
                <div ng-include=" 'templates/order-summary.html' "></div>

                <label class="item ">
                    <button class="button button-block button-positive " type="submit ">Continuar</button>
                </label>
            </div>

        </form>
    </ion-content>
</ion-view>
