<ion-view view-title="{{title}}" ng-controller="ProductInfoCtrl">

    <!-- Mini basket -->
    <ion-nav-buttons side="right">
        <div>
            <a class="button button-clear button-positive " href="#/app/basket">
                <i class="icon ion-bag"></i>
            </a>
        </div>
    </ion-nav-buttons>

    <ion-content>
        <form name="fCombo" ng-submit="addCombo()">
            <div class="list card">

                <div class="item item-avatar">
                    <img ng-src="{{imagen}}">
                    <h2>{{title}}</h2>
                    <p>Precio: {{monedaSymbol}} {{precio | number}}</p>
                </div>

                <div class="item item-body">
                    <img class="full-image" ng-src="{{imagen}}">
                    <p>{{mini_description}}</p>
                    <p class="text-right">Precio: {{monedaSymbol}} {{precio | number}}</p>

                    <ul>
                        <li ng-repeat="(linea, lineas) in items | groupBy: 'LINEA_DESC'" ng-init="parentIndex = $index">

                            <div class="item item-divider">
                                <span class="item-icon-right">
                                    Seleccione
                                    <span class="badge badge-assertive" ng-repeat="linea in lineas">{{linea.CANTIDAD}}</span>
                                </span>
                                <p>{{linea}}</p>
                            </div>

                            <ul>
                                <li class="row" ng-repeat="product in lineas">
                                    <div class="col col-80">{{product.ITEM_HEADER}} {{product.TAG_NAME}}</div>
                                    <div class="col">
                                        <select ng-model="comboData.lineas[parentIndex].items[product.CODIGO_ITEM]" ng-change="refreshCombo(parentIndex, product.LINEA_COMBO, product.CANTIDAD, product.CODIGO_ITEM);">
                                            <option ng-repeat="n in [] | range:product.CANTIDAD+1" value="{{$index}}">{{$index}}</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="item-body">
                    <label class="item item-input ">
                        <button class="button button-block button-positive " type="submit " ng-disabled="comboData.valid==false">Agregar al carrito</button>
                    </label>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
