<ion-view view-title="Datos de compra" ng-controller="ContactInfoCtrl">

    <ion-nav-buttons side="right">
        <div>
            <button class="button button-clear button-light" ng-click="doPayment()">
                <i class="icon ion-plus-circled"></i>
            </button>
        </div>
    </ion-nav-buttons>

    <ion-content>
        <form name="fConfirmation" ng-controller="ConfirmationCtrl" ng-submit="addOrder()">

            <div class="list ">

                <!-- Resumen del envio -->
                <div ng-controller="ConfirmationCtrl" ng-include="'templates/shipping-summary.html'"></div>

                <!-- Lista de productos -->
                <div ng-controller="ConfirmationCtrl" ng-include="'templates/basket-items.html'"></div>

                <!-- Tarjetas -->
                <div class="item item-divider">
                    Seleccione una tarjeta
                </div>

                <label class="item item-radio" ng-repeat="card in cards">
                    <input type="radio" name="codigo_credit_card" ng-model="paymentData.codigo_credit_card" value="{{card.CODIGO_CREDIT_CARD}}" required ng-click="paymentData.codigo_credit_card={{card.CODIGO_CREDIT_CARD}}; paymentData.codigo_card_type={{card.CODIGO_CARD_TYPE}}; paymentData.number='{{card.NUMBER}}'; paymentData.exp_month={{card.EXP_MONTH}}; paymentData.exp_year={{card.EXP_YEAR}}; paymentData.validation_number='{{card.VALIDATION_NUMBER}}'; paymentData.card_holder_name='{{card.CARD_HOLDER_NAME}}';">
                    <div class="item-content ">
                        <span>{{card.CARD_TYPE}}, {{card.NUMBER_DISPLAY}}, finaliza {{card.EXP_MONTH}}/{{card.EXP_YEAR}}</span>
                    </div>
                    <i class="radio-icon ion-checkmark "></i>
                </label>


                <!-- Resumen de la orden -->
                <div class="item item-divider">
                    Resumen de la compra
                </div>
                <div ng-controller="BasketInfoCtrl" ng-include="'templates/order-summary.html'"></div>

                <label class="item">
                    <button class="button button-block button-positive " type="submit" ng-disabled="fConfirmation.$invalid || paymentData.codigo_credit_card == 0">Confirmar compra</button>
                </label>


            </div>
        </form>
    </ion-content>
</ion-view>
