<ion-view view-title="Datos de compra" ng-controller="ContactInfoCtrl">

    <ion-nav-buttons side="right">
        <div>
            <button class=" button button-clear button-light " ng-click="data.showDelete=!data.showDelete ">
                <i class="icon ion-compose "></i>
            </button>
            <button class="button button-clear button-light" ng-click="addPayment(0)">
                <i class="icon ion-plus-circled"></i>
            </button>
        </div>
    </ion-nav-buttons>

    <!--- Pasos --->
    <ion-header-bar class="bar bar-subheader bar-assertive">
        <div class="button-bar">
            <a class="button icon-left ion-bag button-clear button-small" ng-href="#/app/basket"><small>Carrito</small></a>
            <a class="button icon-left ion-ios-box-outline button-clear button-small" ng-href="#/app/shipping"><small>Direcci&oacute;n</small></a>
            <a class="button icon-left ion-card button-clear button-small"><small>Compra</small></a>
        </div>
    </ion-header-bar>

    <ion-content>
        <form name="fConfirmation" ng-controller="ConfirmationCtrl" ng-submit="addOrderConfirm()">
            <div class="list ">

                <!-- Resumen del envio -->
                <div class="item item-divider item-icon-right">
                    <span class="badge badge-left badge-assertive">1</span> Revise sus datos de envío
                </div>
                <div ng-include="'templates/shipping-summary.html'"></div>

                <!-- Lista de productos -->
                <div class="item item-divider item-icon-right">
                    <span class="badge badge-left badge-assertive">2</span> Revise sus productos
                </div>
                <div ng-include="'templates/basket-items.html'"></div>

                <!-- Tarjetas -->
                <div class="item item-divider ">
                    <span class="badge badge-left badge-assertive ">3</span> Seleccione una tarjeta
                </div>

                <ion-list show-delete="data.showDelete">
                    <ion-item ng-if="cards.length==0" class="item item-button-right">
                        No hay tarjetas registradas
                    </ion-item>
                    <ion-item ng-repeat="card in cards " class="item item-icon-right " item="item " name="codigo_credit_card " ng-model="paymentData.codigo_credit_card " value="{{card.CODIGO_CREDIT_CARD}} " required ng-click="paymentData.codigo_credit_card={{card.CODIGO_CREDIT_CARD}}; paymentData.codigo_card_type={{card.CODIGO_CARD_TYPE}}; paymentData.number='{{card.NUMBER}}'; paymentData.exp_month={{card.EXP_MONTH}}; paymentData.exp_year={{card.EXP_YEAR}}; paymentData.validation_number='{{card.VALIDATION_NUMBER}}'; paymentData.card_holder_name='{{card.CARD_HOLDER_NAME}}'; checkPayment();">
                        <span class="item-note invalid" ng-if="card.NUMBER == '' || card.EXP_MONTH == '' || card.EXP_YEAR == ''">datos incompletos</span>
                        <p>
                            {{card.CARD_TYPE}}, {{card.CARD_HOLDER_NAME}}
                            <br>{{card.NUMBER_DISPLAY}}, expira {{card.EXP_MONTH}}/{{card.EXP_YEAR}}
                        </p>
                        <ion-delete-button class="ion-compose " ng-click="addPayment(card.CODIGO_CREDIT_CARD,card.CODIGO_CARD_TYPE,card.NUMBER,card.EXP_MONTH,card.EXP_YEAR,card.VALIDATION_NUMBER,card.CARD_HOLDER_NAME,card.NUMBER_DISPLAY) "></ion-delete-button>
                        <i class="icon ion-checkmark small-icon " ng-if="card.CODIGO_CREDIT_CARD==paymentData.codigo_credit_card "></i>
                        <!-- ng-checked="card.CODIGO_CREDIT_CARD == paymentData.codigo_credit_card_selected" -->
                    </ion-item>
                </ion-list>

                <!-- Resumen de la orden -->
                <div class="item item-divider">
                    Resumen de la compra
                </div>
                <div ng-controller="BasketInfoCtrl" ng-include="'templates/order-summary.html'"></div>

                <label class="item">
                    <button class="button button-block button-positive icon ion-checkmark-circled icon-right " type="submit" ng-disabled="fConfirmation.$invalid || checkPayment()==false">Confirmar compra</button>
                </label>

            </div>
        </form>
    </ion-content>
</ion-view>
