<ion-view view-title="Aviso Importante" ng-controller="ConfirmationSuccessCtrl">

    <ion-content>

        <div class="list card">

            <div class="item item-divider iten-icon-right">
                Orden completa #
                <span class="badge badge-assertive">{{order_id}}</span>
            </div>
            <div class="item item-text-wrap">
                <p>
                    {{first_name}}, hemos tenido problemas procesando su pedido.
                    <br>
                    <br> Favor s&iacute;rvase contactarnos a:
                    <br>
                    <br>
                    <a class="item item-icon-left" href="mailto:info@brittespresso.com">
                        <i class="icon ion-email"></i> info@brittespresso.com
                    </a>
                    <a class="item item-icon-left" href="tel: 800462748">
                        <i class="icon ion-ios-telephone"></i> 800 GO BRITT (800) 46 27488
                    </a>
                </p>
            </div>

            <div class="item">
                <a class="button button-block button-positive" ng-href="#/app/home">Ir al inicio</a>
            </div>
        </div>
    </ion-content>
</ion-view>
