<ion-view view-title="Britt Espresso" ng-controller="HomeCtrl">

    <!-- Mini basket -->
    <ion-nav-buttons side="right">
        <div>
            <a class="button button-clear button-light " href="#/app/basket">
                <i class="icon ion-bag"></i>
            </a>
        </div>
    </ion-nav-buttons>

    <ion-content class="home-page">

        <!-- Banners -->
        <div class="list home-banner">
            <div class="item" ng-repeat="banner in banners">
                <h3>{{banner.TITLE | uppercase}}</h3>
                <p class="full-image" ng-bind-html="banner.TEXT"></p>
            </div>
        </div>

        <div ng-show="isLoggedIn()">

            <h3>MIS PEDIDOS</h3>

            <!-- Pedidos -->
            <div ng-include="'templates/order-history.html'"></div>
        </div>
    </ion-content>

    <!-- Login -->
    <div class="bar bar-footer bar-positive" ng-if="!isLoggedIn()">
        <div class="title ">
            <button class="button button-clear icon-left ion-ios-person " ng-click="login() ">&nbsp;Ingresar</button>
        </div>
    </div>
</ion-view>
