<ion-view view-title="Ingresar" ng-controller="ContactCtrl">

    <ion-header-bar class="bar bar-subheader bar-assertive ">
        <div class="button-bar ">
            <a class="button icon-left ion-bag button-clear button-small " ng-href="#/app/basket "><small>Carrito</small></a>
            <a class="button icon-left ion-ios-box-outline button-clear button-small "><small>Direcci&oacute;n</small></a>
            <a class="button icon-left ion-card button-clear button-small button-stable "><small>Compra</small></a>
        </div>
    </ion-header-bar>

    <ion-content>
        <form name="fLogin" ng-submit="doLogin('shipping')">

            <div class="list">
                <br>
                <h5 class="text-center">Favor ingrese su usuario y contraseña para continuar con el proceso de compra</h5>
            </div>

            <!-- Formulario de login -->
            <div ng-include=" 'templates/login.html' "></div>
        </form>
    </ion-content>
</ion-view>
