<ion-view view-title="Mi Dirección" ng-controller="ContactInfoCtrl">

    <ion-nav-buttons side="right">
        <button class="button button-clear button-light" ng-click="delContactAddress()">
            <i class="icon ion-trash-b"></i>
        </button>
        <a class="button button-clear button-light " href="#/app/my-address/0">
            <i class="icon ion-plus-circled"></i>
        </a>
    </ion-nav-buttons>

    <ion-content>

        <form name="fAddress" ng-submit="updContactAddress()" ng-controller="ContactCtrl">

            <!-- Direccion -->
            <div ng-include="'templates/address.html'"></div>

            <div class="list">
                <div class="item item-divider">
                    Otras direcciones
                </div>
                <a ng-repeat="address in addresses" class="item item-icon-left item-icon-right" href="#/app/my-address/{{address.CODIGO_ADDRESS}}">
                    <i class="icon ion-home"></i> {{address.ADDRESS_1}}, {{address.ADDRESS_2}}
                    <br>{{address.CITY}}, {{address.STATE}}, {{address.ZIPCODE}}
                    <i class="icon ion-arrow-right-c"></i>
                </a>
            </div>
        </form>
    </ion-content>

</ion-view>
