<ion-view view-title="Mi Dirección" ng-controller="ContactInfoCtrl">
    <ion-content>
        <form name="fAddress" ng-submit="updContact()" ng-controller="ContactCtrl">

            <input type="hidden" ng-model="codigo_cliente" name="codigo_cliente" ng-value="{{codigo_cliente}}">

            <div class="list">

                <label class="item item-input">
                    <span class="input-label">Dirección</span>
                    <div ng-messages="fAddress.address_1.$error" ng-messages-include="messages.html"></div>
                    <input type="text" ng-model="address_1" name="address_1" required ng-minlength="3">
                </label>

                <label class="item item-input">
                    <span class="input-label">Distrito</span>
                    <div ng-messages="fAddress.address_2.$error" ng-messages-include="messages.html"></div>
                    <input type="text" ng-model="address_2" name="address_2" required ng-minlength="3">
                </label>

                <label class="item item-input">
                    <span class="input-label">Cantón</span>
                    <div ng-messages="fAddress.city.$error" ng-messages-include="messages.html"></div>
                    <input type="text" ng-model="city" name="city" required ng-minlength="3">
                </label>

                <div class="item item-input item-select">
                    <div class="input-label">
                        Provincia
                    </div>
                    <select ng-model="codigo_state">
                        <option ng-repeat="state in stateslst" ng-value="{{state.codigo_state}}" ng-selected="state.codigo_state == codigo_state">{{state.nombre}}</option>
                    </select>
                </div>

                <label class="item">
                    <button class="button button-block button-positive" type="submit" ng-disabled="fAddress.$invalid">Actualizar</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
