<ion-view view-title="Mi Tarjeta" ng-controller="ContactInfoCtrl">

    <ion-nav-buttons side="right">
        <button class="button button-clear button-light" ng-click="delContactCardConfirm()">
            <i class="icon ion-trash-b"></i>
        </button>
        <a class="button button-clear button-light " href="#/app/my-payment/0">
            <i class="icon ion-plus-circled"></i>
        </a>
    </ion-nav-buttons>

    <ion-content>
        <form name="fCreditcard" ng-submit="updContactCreditcard()" ng-controller="ContactCtrl">

            <!-- Tarjeta -->
            <div ng-include="'templates/payment.html'"></div>

            <div class="list">
                <div class="item item-divider">
                    Otras tarjetas
                </div>
                <a ng-repeat="card in cards" class="item item-icon-left item-icon-right" href="#/app/my-payment/{{card.CODIGO_CREDIT_CARD}}">
                    <i class="icon ion-card"></i> {{card.CARD_TYPE}}, {{card.CARD_HOLDER_NAME}}
                    <br>{{card.NUMBER_DISPLAY}}, expira {{card.EXP_MONTH}}/{{card.EXP_YEAR}}
                    <i class="icon ion-arrow-right-c"></i>
                </a>
            </div>
        </form>
    </ion-content>
</ion-view>
