<ion-view view-title="Mi Tarjeta" ng-controller="ContactInfoCtrl">

    <div ng-include="'templates/invalid-access.html'" ng-if="!isLoggedIn()"></div>

    <ion-nav-buttons side="right">
        <div ng-if="isLoggedIn()">
            <a class="button button-clear button-positive " href="#/app/my-payment/0">
                <i class="icon ion-plus-circled"></i>
            </a>

            <button class="button button-clear button-assertive" ng-click="delContactCard()">
                <i class="icon ion-trash-b"></i>
            </button>
        </div>
    </ion-nav-buttons>

    <ion-content>
        <div ng-if="isLoggedIn()">

            <form name="fCreditcard" ng-submit="updContactCreditcard()" ng-controller="ContactCtrl">

                <!-- Tarjeta -->
                <div ng-include="'templates/payment.html'"></div>

                <div class="list">
                    <div class="item item-divider">
                        Otras tarjetas
                    </div>
                    <a ng-repeat="card in cards" class="item item-icon-left item-icon-right" href="#/app/my-payment/{{card.CODIGO_CREDIT_CARD}}">
                        <i class="icon ion-home"></i> #{{card.CODIGO_CREDIT_CARD}} {{card.CARD_TYPE}}, {{card.NUMBER_DISPLAY}}, finaliza {{card.EXP_MONTH}}/{{card.EXP_YEAR}}
                        <i class="icon ion-arrow-right-c"></i>
                    </a>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
