<div class="item item-body">
    <div class="item row">
        <div class="col col-67">Total de productos</div>
        <div class="col text-right">{{totales.items}}</div>
    </div>
    <div class="item row">
        <div class="col col-67">Subtotal</div>
        <div class="col text-right">{{monedaSymbol}} {{totales.sub_total}}</div>
    </div>
    <div class="item row">
        <div class="col col-20">Envio</div>
        <div class="col text-right item-note" ng-if="$state.includes('app.shipping')">{{monedaSymbol}} {{shippingData.monto_envio}}</div>
        <div class="col text-right item-note" ng-if="!$state.includes('app.shipping')">{{monedaSymbol}} {{totales.envio}}</div>
    </div>
    <div class="item row">
        <div class="col col-67">Impuesto</div>
        <div class="col text-right">{{monedaSymbol}} {{totales.impuesto}}</div>
    </div>
    <div class="item row item-divider">
        <div class="col col-67" ng-if="$state.includes('app.basket')">Total Estimado</div>
        <div class="col col-67" ng-if="!$state.includes('app.basket')">Total</div>
        <div class="col text-right" ng-if="!$state.includes('app.shipping')">{{monedaSymbol}} {{totales.total}}</div>
        <div class="col text-right" ng-if="$state.includes('app.shipping')">{{monedaSymbol}} {{totales.total_sin_envio+shippingData.monto_envio}}</div>
    </div>
</div>
