<ion-modal-view ng-controller="ConfirmationModalCtrl">
    <ion-header-bar>
        <h1 class="title ">Editar / crear tarjeta</h1>
        <div class="buttons ">
            <button class="button button-clear " ng-click="closePayment() ">Cerrar</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="$parent.fCreditcard" ng-submit="updContactCreditcard()">

            <!-- Tarjeta -->
            <div ng-include=" 'templates/payment.html' "></div>
        </form>
    </ion-content>
</ion-modal-view>
