<ion-modal-view>
    <ion-header-bar>
        <h1 class="title ">Ingresar nueva tarjeta</h1>
        <div class="buttons ">
            <button class="button button-clear " ng-click="closePayment() ">Cerrar</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="fCreditcard" ng-submit="updContactCreditcard()" ng-controller="ConfirmationCtrl">

            <!-- Tarjeta -->
            <div ng-include=" 'templates/payment.html' "></div>
        </form>
    </ion-content>
</ion-modal-view>
