<ion-view view-title="{{page_url}}" ng-controller="ProductListCtrl">
    <ion-nav-buttons side="right">
        <div>
            <a class="button button-clear button-light " href="#/app/basket" ng-if="hasBasket()">
                <i class="icon ion-bag"></i>
            </a>
        </div>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item ng-repeat="product in products" href="#/app/{{product.TEMPLATE}}/{{product.PAGE_ID}}" class="item-thumbnail-left item-calm">
                <img ng-src="{{$rutaImagenes}}{{product.IMAGEN}}">
                <h2>{{product.HEADER}}</h2>
                <p ng-bind-html="product.ARTICLE_TEXT" class="full_wrap"></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
