<ion-view view-title="{{title}}" ng-controller="ProductInfoCtrl">

    <!-- Mini basket -->
    <ion-nav-buttons side="right">
        <div>
            <a class="button button-clear button-light " href="#/app/basket" ng-if="hasBasket()">
                <i class="icon ion-bag"></i>
            </a>
        </div>
    </ion-nav-buttons>

    <ion-content>
        <form name="fProduct" ng-submit="addProduct()">
            <div class="list card">

                <div class="item item-avatar">
                    <img ng-src="{{imagen}}">
                    <h2>{{title}}</h2>
                    <p ng-bind-html="mini_description"></p>
                </div>

                <div class="item item-body">
                    <img class="full-image" ng-src="{{imagen}}">
                    <p ng-bind-html="description"></p>

                    <div class="list">

                        <div class="item item-divider">
                            <span class="badge badge-left badge-assertive ">1</span>Seleccione un producto
                        </div>
                        <label class="item item-radio" ng-repeat="product in items">
                            <input type="radio" name="codigo_articulo_incluir" ng-model="productData.codigo_articulo_incluir" value="{{product.CODIGO_ARTICULO}} " required ng-click="
                            productData.presentation_name=title;
                            productData.presentation_img=product.PRESENTATION_IMG;
                            productData.precio = product.PRECIO;
                            productData.impuesto = product.IMPUESTO;
                            productData.peso = product.PESO;
                            productData.item_descripcion = product.PRESENTATION_NAME">
                            <!-- ng-checked="product.PRINCIPAL==1 " -->
                            <div class="item-content ">
                                <span>{{product.PRESENTATION_NAME}}</span>
                                <span class="padding-horizontal ">-</span>
                                <span>{{monedaSymbol}} {{product.PRECIO | number}}</span>
                            </div>
                            <i class="radio-icon ion-ios-circle-outline"></i>
                        </label>
                    </div>

                    <label class="item item-input item-select ">
                        <div class="input-label ">Cantidad</div>
                        <div ng-messages="fProduct.cantidad_incluir.$error " ng-messages-include="messages.html "></div>
                        <select ng-model="productData.cantidad_incluir " name="cantidad_incluir " ng-minlength="1 " ng-maxlength="99 " required>
                            <option ng-repeat="i in totalitems " value="{{i}} ">{{i}}</option>
                        </select>
                    </label>

                </div>

                <div class="item-body">
                    <label class="item item-input ">
                        <button class="button button-block button-positive " type="submit " ng-disabled="fProduct.$invalid ">Agregar al carrito</button>
                    </label>
                </div>

                <!-- Productos relacionados -->
                <div class="list">
                    <div class="item item-divider text-center">
                        Descubra m&aacute;s experiencias
                    </div>
                    <a class="item item-thumbnail-left" ng-repeat="item in related" href="#/app/{{item.TEMPLATE}}/{{item.PAGE_ID}}">
                        <img ng-src="{{rutaImagenes}}{{item.PRESENTATION_IMG}}">
                        <h2>{{item.TITLE}}</h2>
                        <p ng-bind-html="item.ARTICLE_TEXT"></p>
                    </a>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
