<ion-view view-title="Dirección de envío" ng-controller="ContactInfoCtrl">

    <ion-nav-buttons side="right">
        <div>
            <button class="button button-clear button-balanced" ng-click="doAddress()">
                <i class="icon ion-plus-circled"></i>
            </button>
        </div>
    </ion-nav-buttons>

    <ion-content>
        <form name="fShipping" ng-controller="ShippingCtrl" ng-submit="addShipping()">

            <input type="hidden" name="codigo_service_type" ng-model="shippingData.codigo_service_type">
            <input type="hidden" name="codigo_address" ng-model="shippingData.codigo_address">
            <input type="hidden" name="monto_envio" ng-model="shippingData.monto_envio">
            <input type="hidden" name="state" ng-model="shippingData.state">

            <div class="list ">

                <!-- Direcciones -->
                <div class="list">
                    <div class="item item-divider">
                        Seleccione una dirección
                    </div>
                    <label class="item item-radio" ng-repeat="address in addresses">
                        <input type="radio" name="codigo_address" ng-model="shippingData.codigo_address" value="{{address.CODIGO_ADDRESS}}" required ng-click="shippingData.codigo_address={{address.CODIGO_ADDRESS}}; getShipping(1.66,'{{address.CODIGO_STATE}}');">
                        <div class="item-content ">
                            <span>#{{address.CODIGO_ADDRESS}} {{address.ADDRESS_1}}, {{address.CITY}}, {{address.STATE}}</span>
                        </div>
                        <i class="radio-icon ion-checkmark "></i>
                    </label>
                </div>

                <!-- Envios -->
                <div class="list">
                    <div class="item item-divider">
                        Selecciona un método de envío
                    </div>
                    <label class="item item-radio" ng-repeat="shipping in shippings">
                        <input type="radio" name="codigo_service_type" ng-model="shippingData.codigo_service_type" value="{{shipping.CODIGO_SERVICE_TYPE}}" required ng-click="shippingData.codigo_service_type={{shipping.CODIGO_SERVICE_TYPE}}; shippingData.monto_envio={{shipping.MONTO}}">
                        <div class="item-content ">
                            <span>{{shipping.WEB_DISPLAY}} ({{shipping.DAYS}} dias)</span>
                            <span class="padding-horizontal ">-</span>
                            <span>{{monedaSymbol}} {{shipping.MONTO}}</span>
                        </div>
                        <i class="radio-icon ion-checkmark "></i>
                    </label>
                </div>

                <!-- Resumen de la orden -->
                <div ng-controller="BasketInfoCtrl" ng-include="'templates/order-summary.html'"></div>

                <label class="item">
                    <button class="button button-block button-positive " type="submit" ng-disabled="fShipping.$invalid ">Continuar</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
