<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
    <widget id="com.ionicframework.brittespresso622245" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
        <name>Britt Espresso</name>
        <description>
            Britt Espresso Costa Rica
        </description>
        <author email="info@brittespresso.com " href="http://www.brittespresso.com/">
            Britt Espresso, Cafe Britt
        </author>
        <content src="index.html" />
        <preference name="webviewbounce" value="false" />
        <preference name="UIWebViewBounce" value="false" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="android-minSdkVersion" value="16" />
        <preference name="BackupWebStorage" value="none" />
        <preference name="orientation" value="portrait" />
        <feature name="StatusBar">
            <param name="ios-package" value="CDVStatusBar" onload="true" />
        </feature>
        <icon src="icon.png" />
        <gap:plugin name="com.ionic.keyboard" version="1.0.3" />
        <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.5.0" />
        <gap:plugin name="org.apache.cordova.console" version="0.2.11" />
        <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
        <gap:plugin name="cordova-plugin-whitelist" source="npm" />
        <gap:plugin name="io.litehelpers.cordova.sqlite" version="0.7.10" />
        <access origin="*" />
        <allow-intent href="mailto:*" />
        <allow-intent href="tel:*" />
        <access origin="tel:*" launch-external="yes" />
        <access origin="mailto:*" launch-external="yes" />
    </widget>
